/*
# Front-end Style Guide

## Colors

### Neutral

- **Neutral 900**: `hsl(227, 75%, 14%)`
- **Neutral 800**: `hsl(226, 25%, 17%)`
- **Neutral 700**: `hsl(225, 23%, 24%)`
- **Neutral 600**: `hsl(226, 11%, 37%)`
- **Neutral 300**: `hsl(0, 0%, 78%)`
- **Neutral 200**: `hsl(217, 61%, 90%)`
- **Neutral 100**: `hsl(0, 0%, 93%)`
- **Neutral 0**: `hsl(200, 60%, 99%)`

### Red

- **Red 400**: `hsl(3, 86%, 64%)`
- **Red 500**: `hsl(3, 71%, 56%)`
- **Red 700**: `hsl(3, 77%, 44%)`

### Gradient

- **Light Gradient**: `linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%)`
- **Dark Gradient**: `linear-gradient(180deg, #040918 0%, #091540 100%)`

## Typography

### Body Copy

- **Font size (paragraph)**: 16px

### Font

- **Family**: [Noto Sans](https://fonts.google.com/noto/specimen/Noto+Sans)
- **Weights**: 400, 500, 700

*/

:root{
  --primary-dark: hsl(227, 75%, 14%);
  --secundary-dark: hsl(226, 25%, 17%);
  --neutral-700: hsl(225, 23%, 24%);
  --neutral-600: hsl(226, 11%, 37%);
  --neutral-300: hsl(0, 0%, 78%);
  --neutral-200: hsl(217, 61%, 90%);
  --neutral-100: hsl(0, 0%, 93%);
  --neutral-0: hsl(200, 60%, 99%);
  --red-400: hsl(3, 86%, 64%);
  --red-500: hsl(3, 71%, 56%);
  --red-700: hsl(3, 77%, 44%);

}

.header{
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: var(--secundary-dark);
  border-radius: 15px;
  color: var(--neutral-0);
}


.header button{
  background-color: var(--neutral-700);
  border: none;
  border-radius: 10px;
  width: 2.8rem;
  height: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;  
  transition: background-color 0.2s ease;
}

.header button:hover{
  background-color: var(--neutral-600);
}

main{
  width: 80%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;


}

.main-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  
}

.light-theme{
  background-image: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);

  & .header {
    background-color: var(--neutral-0);
  }

  & .header button{
    background-color: var(--neutral-100);
    transition: background-color 0.2s ease;
  }

  & .header button:hover{
    background-color: var(--neutral-300);
  }

  & .main-header{
    color: var(--primary-dark);
  }

  & .filter-buttons label {
    background-color: var(--neutral-0);
    border: 1px solid var(--neutral-200);
    transition: background-color 0.2s ease;
  }

  & .filter-buttons label:hover {
    opacity: .8;
  }

  & .filter-buttons input[type="radio"]:checked + label {
      color: var(--neutral-0);
  }

  & .extension-item{
    background-color: var(--neutral-0);
    color: var(--secundary-dark);
    border: 1px solid var(--neutral-200);
  }

  & .extension-item h3{
    color: var(--primary-dark);
  }

  & .extension-item button{
    color: var(--primary-dark);
    background-color: var(--neutral-0);
    border: 1px solid var(--neutral-200);
    transition: all 0.2s ease;
  }

  & .extension-item button:hover{
    color: var(--neutral-0);
    background-color: var(--red-500);

  }

  & .switch{
    background-color: var(--neutral-300);
  }
}